In [2]:
l1 = ['mango','apple','grapes','orange']          #looping through string
for i in l1:
    print(i, end=" ")

mango apple grapes orange

In [ ]:
#nested for loop

In [4]:
l1=['red','blue','orange','white','black']                
l2=[1,2,3,4,5,]
for i in l1:
    for j in l2:
        print(i,j)

red 1
red 2
red 3
red 4
red 5
blue 1
blue 2
blue 3
blue 4
blue 5
orange 1
orange 2
orange 3
orange 4
orange 5
white 1
white 2
white 3
white 4
white 5
black 1
black 2
black 3
black 4
black 5

In [9]:
for i in 'red':              #string
    print(i, end=' ')

r e d

In [ ]:
#With the "break" statement we can stop the loop before it has looped through all the items

In [22]:
fruits=['apple','orange','banana','cherry']
for x in fruits:
    if x == 'banana':
        break
    print(x)

apple
orange

In [ ]:
#notice "print"

In [21]:
fruits=['apple','orange','waterlemon','banana','cherry']
for x in fruits:
    print(x)
    if x == 'banana':
        break

apple
orange
waterlemon
banana

In [ ]:
#With the "continue" statement we can stop the current iteration of the loop, and continue with the next

In [20]:
l1=['red','blue','orange','white','black'] 
for i in l1:
    if i== 'white':
        continue
    print(i)

red
blue
orange
black

#### To loop through a set of code a specified number of times, we can use the 'range()' function
#### The range() function defaults to increment the sequence by 1

In [23]:
for x in range(10):                                     # starting from 0 by default
    print(x)                                            #Note that range(10) is not the values of 0 to 10, but values 0 to 9.

0
1
2
3
4
5
6
7
8
9

In [ ]:
#0 as a starting value, however it is possible to specify the starting value by adding a parameter

In [27]:
for x in range(2,20):             #starting value is 2 
    print(x)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

#The range() function defaults to increment the sequence by 1, however it is possible to specify the increment value by adding a third parameter

In [28]:
for x in range(2,20,2):            #Increment the sequence with 2 (default 1)
    print(x)

2
4
6
8
10
12
14
16
18

#for loops cannot be empty, but if you for some reason have a for loop with no content, put in the 'pass' statement to avoid getting an error.

In [35]:
for x in [1,2,3]:                 #run hua ha withno output
    pass

In [ ]:
#print 10 to 1

In [3]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [1]:
for i in range(1,101):
    if i%3==0 or i%5==0:
        continue
    print(i)
print('bye')

1
2
4
7
8
11
13
14
16
17
19
22
23
26
28
29
31
32
34
37
38
41
43
44
46
47
49
52
53
56
58
59
61
62
64
67
68
71
73
74
76
77
79
82
83
86
88
89
91
92
94
97
98
bye

#### ITERATE OVER DICTIONARY

In [3]:
user = {
    'name' : 'golem',
    'age' : 50000,
    'can_swim': False
}


for item in user.items():
    print(item)

('name', 'golem')
('age', 50000)
('can_swim', False)

In [4]:
for item in user.values():
    print(item)

golem
50000
False

In [5]:
for item in user.keys():
    print(item)

name
age
can_swim

In [3]:
for item in "zero 2 mastery":
    print(item)

z
e
r
o

2

m
a
s
t
e
r
y

In [8]:
for item in ["zero",2, "mastery",4,5,6,7]:
    print(item)

zero
2
mastery
4
5
6
7

In [9]:
for item in {"zero",2, "mastery",4,5,6,7}:
    print(item)

2
4
5
6
7
mastery
zero

In [10]:
for item in ("zero",2, "mastery",4,5,6,7):
    print(item)

zero
2
mastery
4
5
6
7

In [13]:
my_list = [1,2,3,4,5,6,7,8,9,10]
counter = 0
for item in my_list:
    counter = counter + item
print(counter)

55

In [23]:
for item in range(10,0,-1):
    print(item)

10
9
8
7
6
5
4
3
2
1

#### ENUMERATE

In [ ]:
## The enumerate() function adds a counter as the key of the enumerate object

In [4]:
for i,char in enumerate([1,2,3,4]):
    print(i,char)

0 1
1 2
2 3
3 4

In [5]:
for char in enumerate([1,2,3,4]): #list
    print(char)

(0, 1)
(1, 2)
(2, 3)
(3, 4)

In [6]:
for char in enumerate("GAME"):
    print(char)

(0, 'G')
(1, 'A')
(2, 'M')
(3, 'E')

In [8]:
for i,char in enumerate("GAME"):
    print(i,char)

0 G
1 A
2 M
3 E

In [11]:
for char in enumerate({1,'a',True,2,'b',False}): #set
    print(char)

(0, False)
(1, 1)
(2, 2)
(3, 'b')
(4, 'a')

In [12]:
for char in enumerate((1,True,3.14,5-7j)): #tuple
    print(char)

(0, 1)
(1, True)
(2, 3.14)
(3, (5-7j))

In [44]:
for i,char in enumerate(list(range(100))):
    if char==50:
        print(f"index of 50 is: {i}")

index of 50 is: 50

In [10]:
for i in range(4):
    for j in range(4):
        print("#", end=" ")
    print()

# # # #
# # # #
# # # #
# # # #