In [ ]:
#In Python a function is defined using the 'def' keyword

In [1]:
def hello():              #hello funtion ko define kiya
    print("hello world")
hello()                       #function ko invoke krdiya ha

hello world

In [4]:
def hello:       #() are imp.
    print("hello world")
hello()

SyntaxError: invalid syntax (<ipython-input-4-09e979bd6f7a>, line 1)

In [10]:
def add(a,b):
    c=a+b
    return c

add(2,2)

4

In [8]:
def increment(number, by = 1):
    return number + by


print(increment(2,2))

4

In [6]:
x=int(input("x = "))
y=int(input("y = "))
z=add(x,y)

x = 5
y = 5

In [8]:
print(z)

10

In [2]:
def add10(x):
    return x+10
add10(9)

19

In [3]:
add10(5)

15

In [5]:
def odd_even(x):
    if x%2==0:
        print(x,"is even")
    else:
        print(x,"is odd")
odd_even(10)

10 is even

In [1]:
def add(a):
    return a+10
x=add(5)
print(x)

15

In [10]:
def person(name,age=18):
    print(name)
    print(age)

In [11]:
person("sid")

sid
18

In [12]:
person('ram',200)   #Default argument's is mutable.

ram
200

In [6]:
def multiply(*number):
    total = 1
    for number in number:
        total*=number
    return total


(multiply(2,3,4,5))

120

In [2]:
def update(x):
    x=8
    print("x = ",x)
a=10
update(a)
print('a = ',a)

x =  8
a =  10

In [ ]:
#VARIABLE LENGTH

In [13]:
def sum(a, *b):
    print(a)
    print(b)

sum(111,3,4,5)

111
(3, 4, 5)

In [16]:
def sum(a, *b):
    c=a
    for i in b:
        c=c+i
    print(c)

sum(5,6,34,78)

123

In [11]:
def sum(a, *b):   
    c=a              #c=1
    for i in b:
        c=c+i        #c = 1+1  =2
    print(c)         #c = 2+1 =3
                    #c = 3+1 =4

sum(1,1,1,1)

4

In [17]:
def sum(*b):
    c=0
    for i in b:
        c=c+i
    print(c)

sum(5,6,34,78)

123

In [4]:
def say_hello(name,age):
    print(f"my name is {name} & my age is {age}")

    
## POSITIONAL ARGUMENT

say_hello("RAM",111)

say_hello(999,"GAME")  ## WRONG POSITIONS

my name is RAM & my age is 111
my name is 999 & my age is GAME

In [5]:
## KEYORD ARGUMENTS

say_hello(age = 999, name = 'GAME')

my name is GAME & my age is 999

In [6]:
## DEFAULT ARGUMENT

def person(name,age=18):
    print(name)
    print(age)

In [8]:
person('sid',25)

sid
25

In [9]:
person('sid')

sid
18

In [ ]:
#KEYWORD VARIABLE LENGTH ARGUMENT

In [24]:
def person(name,**data):   #pass multiple data & with help of keyword.
    print(name)
    print(data)

In [25]:
person('sid',age=24,city='bhopal',mob=911)

sid
{'age': 24, 'city': 'bhopal', 'mob': 911}

In [28]:
def person(name,**data):
    print(name)
    for i,j in data.items():
        print(i,j)

person('sid',age=24,city='bhopal',mob=911)

sid
age 24
city bhopal
mob 911

In [27]:
def super_func(a,*args):
    print(a)
    
    print(*args)
    
    print(args) #tuple
    
    sum(*args)
    
    sum(args)


super_func(1,2,3,4,5,)

1
2 3 4 5
(2, 3, 4, 5)
14
(2, 3, 4, 5)

In [23]:
def super_func(*args,**kwargs):
    print(*args)
    
    print(kwargs)

super_func(1,2,3,4,5,age=24,city='bhopal',mob=911)

1 2 3 4 5
{'age': 24, 'city': 'bhopal', 'mob': 911}

In [38]:
def super_func(*args,**kwargs):
    print(*args)
    
    print(*kwargs)

super_func(1,2,3,age=24,city='bhopal',mob=911)

1 2 3
age city mob

### MAP

In [9]:
def multiply_by2(item):
    return item * 2

list(map(multiply_by2,[1,2,3]))

[2, 4, 6]

In [13]:
def multiply_by(item):
    return item * 2

list(map(multiply_by,[1,2,3,'A','B','GAME',]))

[2, 4, 6, 'AA', 'BB', 'GAMEGAME']

In [14]:
def multiply_by(item):
    return item * 2

list(map(multiply_by,[1,2,3,'A','B','GAME',CITY = 'BPL']))

SyntaxError: invalid syntax (<ipython-input-14-fc59ce5a2a56>, line 4)

### FILTER

In [17]:
my_list = [1,2,3,4]

def only_odd(item): 
    return item % 2 !=0

list(filter(only_odd,my_list))

[1, 3]

### ZIP

In [1]:
my_list = [1,2,3,4]
your_list = [10,20,30]

list(zip(my_list,your_list))

[(1, 10), (2, 20), (3, 30)]

### REDUCE

In [2]:
from functools import reduce

### LAMBDA function

In [4]:
x=lambda a: a + 10
print(x(5))

15

In [19]:
x=lambda g:g*g*g
print(x(10))

1000

In [8]:
f = lambda a:a*a
result=f(5)
print(result)

25

In [ ]:
#lambda with filter

#filter() returns just the elements for which a function returns True

In [1]:
def is_even(n):
    return n%2==0
nums=[1,2,3,4,5,6,7,8,9]
evens=list(filter(is_even,nums))
print(evens)

[2, 4, 6, 8]

In [2]:
nums=[1,2,3,4,5,6,7,8,9]
evens=list(filter(lambda n : n%2==0, nums))
print(evens)

[2, 4, 6, 8]

In [25]:
l1 = [87,56,90,34,2,3,5,7,1,7,98]               
final_list=list(filter(lambda x:(x%2!=0),l1))               #phle parameter fir expression leta ha
print(final_list)

[87, 3, 5, 7, 1, 7]

In [ ]:
#lambda with map

#   Python map() is an inbuilt function that takes a lambda function and applies that function to all the
#   elements of specified iterable and returns map objects

In [26]:
l1=[1,2,3,4,5,6,7,8,9]
flist=list(map(lambda x: x*2,l1))
print(flist)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
#reduce

In [28]:
from functools import reduce
sum=reduce(lambda x,y: x+y,l1)
sum

45

In [12]:
def addition():
    a=int(input("enter no1 "))
    b=int(input("enter no2 "))
    c=a+b
    return c
sum=addition()
print("sum = ",sum)

enter no1 5
enter no2 5
sum =  10

In [9]:
def update(x):
    x=8
    print("x",x)
a=10
update(a)
print('a',a)

x 8
a 10

In [11]:
nums=[1,2,3,4,5,6,7,8,9,10,11,12]

evens=list(filter(lambda n :n%2==0, nums))
print(evens)

doubles=list(map(lambda n : n * 2,evens))
print(doubles)

doubles1=list(map(lambda n :n%2==0, nums))   
print(doubles1)

[2, 4, 6, 8, 10, 12]
[4, 8, 12, 16, 20, 24]
[False, True, False, True, False, True, False, True, False, True, False, True]

##### WALRUS (:=)

In [7]:
a='zzzzzzzzzzzzzzzzzzzzzzz'
if((n := len(a)) > 10):
   print(f"too long {n} elemnet")

too long 23 elemnet

#### SCOPE OF VALRIABLE

In [31]:
a=10
def some():
    a=15
    print('local', a)
    
some()

print("global", a)

local 15
global 10

In [32]:
a=10
def some():
    
    print('local', a)
    
some()

print("global", a)

local 10
global 10

In [35]:
a=10
def some():
    global a  # we dont have local 
    a=9999
    
    print('local', a)
    
some()

print("global", a)

local 9999
global 9999

In [37]:
a=10
def some():
    global a
    a=1111
    print('local', a)
    
    a=999
    
some()

print("global", a)

local 1111
global 999

In [43]:
a=10
def some():
    a=1111
    
    x=globals()['a']
    
    print('local', a)
    
    print(x)
    
some()

print("global", a)

local 1111
10
global 10

In [42]:
def fact(n):
    f=1
    for i in range(1,n+1):
        f=f*i
    return f
    
x=int(input("no. - "))

result = fact(x)

print(result)

no. - 5
120

In [10]:
def add(a,b):
    c = a+b
    d = a-b
    return c,d

In [11]:
res1, res2 = add(10,10)

In [31]:
def update(x):
    x=8
    print(x)
a=10
update(a)
print("a" , a)

8
a 10

## Z 2 M

In [15]:
def sum(num1,num2):
    return num1+num2
    

sum(1,1)

2