In [3]:
import datetime as dt

### DATE CLASS

In [6]:
current_date = dt.date.today()

current_date

datetime.date(2022, 2, 18)

In [22]:
date1 = dt.date(2021,1,5)

print(date1)                                    #wathch out for print

2021-01-05

In [16]:
date1.month

1

In [14]:
current_date.month

2

### TIME CLASS

In [17]:

from datetime import time

# time(hour = 0, minute = 0, second = 0)
a = time()
print("a =", a)

# time(hour, minute and second)
b = time(11, 34, 56)
print("b =", b)

# time(hour, minute and second)
c = time(hour = 11, minute = 34, second = 56)
print("c =", c)

# time(hour, minute, second, microsecond)
d = time(11, 34, 56, 234566)
print("d =", d)

a = 00:00:00
b = 11:34:56
c = 11:34:56
d = 11:34:56.234566

In [23]:
time1 = dt.time(10,45,30,236666)
print(time1)

10:45:30.236666

In [26]:
print(time1.hour)
print(time1.microsecond)

10
236666

### DATETIME CLASS

In [32]:
dtime = dt.datetime.now()

In [33]:
print(dtime)

2022-02-18 11:42:18.361380

In [35]:
# datetime(year, month, day, hour, minute, second, microsecond)
b = datetime(2017, 11, 28, 23, 55, 59, 342380)
print(b)

2017-11-28 23:55:59.342380

In [36]:

from datetime import datetime

a = datetime(2017, 11, 28, 23, 55, 59, 342380)
print("year =", a.year)
print("month =", a.month)
print("hour =", a.hour)
print("minute =", a.minute)

year = 2017
month = 11
hour = 23
minute = 55

In [39]:
print(dtime.month)

2

### TIMEDELTA

In [40]:
from datetime import datetime, date

t1 = date(year = 2018, month = 7, day = 12)
t2 = date(year = 2017, month = 12, day = 23)
t3 = t1 - t2
print("t3 =", t3)

t4 = datetime(year = 2018, month = 7, day = 12, hour = 7, minute = 9, second = 33)
t5 = datetime(year = 2019, month = 6, day = 10, hour = 5, minute = 55, second = 13)
t6 = t4 - t5
print("t6 =", t6)

print("type of t3 =", type(t3)) 
print("type of t6 =", type(t6))

t3 = 201 days, 0:00:00
t6 = -333 days, 1:14:20
type of t3 = <class 'datetime.timedelta'>
type of t6 = <class 'datetime.timedelta'>

In [42]:
##  Difference between two timedelta objects

from datetime import timedelta

t1 = timedelta(weeks = 2, days = 5, hours = 1, seconds = 33)
t2 = timedelta(days = 4, hours = 11, minutes = 4, seconds = 54)
t3 = t1 - t2

print("t3 =", t3)

t3 = 14 days, 13:55:39

In [ ]:
##### For "Python Date Format Codes" Google.

##### The strftime() method is defined under classes date, datetime and time

##### strftime() - Objects to string

In [45]:
from datetime import datetime

now = datetime.now() # current date and time

year = now.strftime("%Y")
print("year:", year)

month = now.strftime("%m")
print("month:", month)

day = now.strftime("%d")
print("day:", day)

time = now.strftime("%H:%M:%S")
print("time:", time)

date_time = now.strftime("%m/%d/%Y, %H:%M:%S")
print("date and time:",date_time)

year: 2022
month: 02
day: 18
time: 12:13:45
date and time: 02/18/2022, 12:13:45

In [53]:
print(now.strftime("%b %-d"))

ValueError: Invalid format string

In [59]:
from datetime import datetime

# current date and time
now = datetime.now()

t = now.strftime("%H:%M:%S")
print("time:", t)

s1 = now.strftime("%m/%d/%Y, %H:%M:%S")
# mm/dd/YY H:M:S format
print("s1:", s1)

s2 = now.strftime("%d/%m/%Y, %H:%M:%S")
# dd/mm/YY H:M:S format
print("s2:", s2)

time: 12:38:34
s1: 02/18/2022, 12:38:34
s2: 18/02/2022, 12:38:34

In [60]:
type(s2)

str

##### The strptime() method - String to Datetime object

In [55]:
date_string = '21 June, 2021'
date_object = dt.datetime.strptime(date_string, "%d %B, %Y")
print(date_object)

2021-06-21 00:00:00

In [56]:
type(date_object)

datetime.datetime

### Python timestamp to datetime and vice-versa

In [61]:
from datetime import datetime

timestamp = 1545730073
dt_object = datetime.fromtimestamp(timestamp)

print("dt_object =", dt_object)
print("type(dt_object) =", type(dt_object))

dt_object = 2018-12-25 14:57:53
type(dt_object) = <class 'datetime.datetime'>

In [62]:
from datetime import datetime

# current date and time
now = datetime.now()

timestamp = datetime.timestamp(now)
print("timestamp =", timestamp)

timestamp = 1645169195.417043