In [2]:
tri1 = 'this is my first string'

In [3]:
tri1

'this is my first string'

In [4]:
str2 = "this is my string"

In [5]:
str2

'this is my string'

In [6]:
qwe = '''
this string
has
lot of lines
in it
'''

In [7]:
qwe

'\nthis string\nhas\nlot of lines\nin it\n'

In [ ]:
#extracting individual characters t=0 no 0 se indexing start hote ha

### : is called slicing and has the format [ start : end : step ]

In [29]:
wt = [1,2,3,4,5,6,7,8,9]
wt[1:6:2]

[2, 4, 6]

In [13]:
name = '0123456789'

In [14]:
name[1]

'1'

In [15]:
name[::1]

'0123456789'

In [21]:
name[:5]

'01234'

In [22]:
name[1:5]

'1234'

In [23]:
name[::-1]

'9876543210'

In [24]:
name[::-2]

'97531'

In [25]:
name[-1::-1]

'9876543210'

In [26]:
name[0:10:2]

'02468'

In [1]:
selfish = "me me me"
#indexVal- 01234567

In [2]:
selfish[1]

'e'

In [3]:
selfish[1]='77'      ##STRINGS R IMMUTABLE

TypeError: 'str' object does not support item assignment

In [16]:
selfish[2]

' '

In [17]:
selfish[6]

'm'

In [20]:
print(selfish[4])

e

In [1]:
my_string = 'this is sparta'
          #  0123456789....

In [3]:
my_string

'this is sparta'

In [4]:
my_string[0]

't'

In [5]:
my_string[4]

' '

In [6]:
my_string[13]

'a'

In [7]:
my_string[-1]

'a'

In [8]:
my_string[-1::-1]

'atraps si siht'

In [23]:
my_string[5:11]

'is spa'

In [24]:
 my_string[ :9]

'this is s'

In [25]:
 my_string[3: ]

's is sparta'

In [26]:
 my_string[ : ]

'this is sparta'

In [2]:
my_string = 'this is sparta'  ##len 1 se start hota ha not from 1
len(my_string)

14

In [3]:
my_string.lower()

'this is sparta'

In [4]:
my_string.upper()

'THIS IS SPARTA'

In [5]:
my_string.replace('is','are')

'thare are sparta'

In [6]:
str_new = 'sparta sparta sparta 300 300 300 300'
str_new

'sparta sparta sparta 300 300 300 300'

In [7]:
str_new.count('sparta')

3

In [8]:
str_new.count('300')

4

In [9]:
my_string = 'Hello world is awesome'

In [10]:
my_string.find('i')

12

In [11]:
str_final = "president obama is the best president of united states of america"
str_final

'president obama is the best president of united states of america'

In [12]:
str_final.split('e')

['pr',
 'sid',
 'nt obama is th',
 ' b',
 'st pr',
 'sid',
 'nt of unit',
 'd stat',
 's of am',
 'rica']

In [5]:
a = "hello"   #to add space between them
b = "world"
c = a + " " + b
print(c)

hello world

In [12]:
# zfill() fill the string with the specified number of 0 values at the beginning"

In [14]:
txt = "50"
x = txt.zfill(10)
print(x)

0000000050

### Concatenating

In [ ]:
## You can go from a list to a string in Python with the join() method.

In [20]:
>>> strings = ['do', 're', 'mi']
>>> ','.join(strings)

'do,re,mi'

In [1]:
"*".join("hello")

'h*e*l*l*o'

In [2]:
"$$".join("hello")

'h$$e$$l$$l$$o'

In [3]:
"$$".join(["hello","game"])

'hello$$game'

In [1]:
x = "Python is "
y = "awesome"
z =  x + y
print(z)

Python is awesome

In [15]:
old = '01234567'

In [16]:
old = old + '8'
print(old)

012345678

In [1]:
print('a' + 'b' + 'c')

abc

In [18]:
print('hello'+ 999)

TypeError: can only concatenate str (not "int") to str

In [11]:
print('1'+'10')

110

In [19]:
'do' * 2

'dodo'

In [11]:
z='a'+'1,1,1'+'q'+'55'
print(z)

a1,1,1q55

#### ESCAPE SEQUENCE

In [5]:
weather="\t it's\"kind of\"sunny \n hope u have a good day"   ## \" apostrophe ke phle \
print(weather)

	 it's"kind of"sunny
 hope u have a good day

In [9]:
well = r"it's kind of sunny hope u have a good day / bad day"
print(well)

it's kind of sunny hope u have a good day / bad day

##### FORMATTED STRINGS

In [3]:
name = 'Ram'
age =55
print('hi '+name+".you are "+str(age)+'years old')

hi Ram.you are 55years old

In [11]:
#TO AVOID THIS WE USE FORMATTED STRINGS

name = 'Ram'
age =55
print(f'hi {name}. You are {age} years old')

hi Ram. You are 55 years old

.format() - old way for fomatting string

In [12]:
birth = int(input('enter year : '))
age = 2022 - birth
print(f"your age : {age}")

enter year : 1997
your age : 25

#### STRIP()

In [1]:
txt = "     banana     "

x = txt.strip()

print("of all fruits", x, "is my favorite")

of all fruits banana is my favorite

In [2]:
txt = ",,,,,rrttgg.....banana....rrr"

x = txt.strip(",.grt")

print(x)

banana

In [6]:
print(type(str(199)))

<class 'str'>

In [1]:
print(type(int(str(199))))

<class 'int'>

#### PUTTING VARIABLES IN STRING

In [2]:
x = "boy"
y = "girl"

In [4]:
"my name is %s & my sisters name is %s "%(x,y)

'my name is boy & my sisters name is girl '