In [1]:
tup1 = (1,True,3.14,5-7j)

In [2]:
tup1

(1, True, 3.14, (5-7j))

In [3]:
type(tup1)

tuple

In [ ]:
#Extracting individual elements

In [4]:
tup1[0]

1

In [6]:
tup1[-1]

(5-7j)

In [7]:
tup1[0:2]

(1, True)

In [8]:
tup1[ :3]

(1, True, 3.14)

In [9]:
 tup1[2] = 'this is sparta'   #unchangeable

TypeError: 'tuple' object does not support item assignment

In [10]:
tup1 = (1,2,3)
tup2 = (4,5,6)
tup1,tup2

((1, 2, 3), (4, 5, 6))

In [11]:
len(tup1)

3

In [12]:
tup2 + tup1   #2ko 1 se phle diya so order

(4, 5, 6, 1, 2, 3)

In [ ]:
#reapeating and concatenating

In [13]:
tup1*5

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [14]:
tup1*5 + tup2

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 4, 5, 6)

In [2]:
tup1 = (10,20,30,40,50,60)
min(tup1)

10

In [3]:
max(tup1)

60

In [4]:
tup1.count(10)          #count built in-method

1

In [7]:
tup1.index(30)              #built in-method

2

In [8]:
#construct a tuple

In [1]:
pen = tuple(("blue","black","red","green"))        #note the double round barckets
print(pen)

('blue', 'black', 'red', 'green')